* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('fondo.jpg'); /* Se agrega la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que la imagen se quede fija mientras se desplaza el contenido */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: rgba(45, 59, 68, 0.8); /* Fondo semi-transparente para el header */
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.descripcion {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
}

.descripcion p {
    margin-bottom: 10px;
    line-height: 1.8;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12;
}

.titulo-clase {
    font-size: 2rem;
    text-align: center;
    background-color: rgba(41, 128, 185, 0.8); /* Fondo semi-transparente */
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    transition: background-color 0.3s ease;
}

.titulo-clase:hover {
    background-color: rgba(52, 152, 219, 0.8);
}

.titulo-clase a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #2d3b44;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.admin-button {
    text-align: center;
    margin-top: 20px;
}

.admin-button button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-button button:hover {
    background-color: #c0392b;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        padding: 10px;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 2rem;
    }

    section {
        padding: 15px;
    }
}
